spring:
  application:
    name: oidc-server
  datasource:
    url: jdbc:mysql://localhost:3306/oauth2?allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8&characterSetResults=utf8&useSSL=false
    username: root
#    password: Aa+123456
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

server:
  port: 8080
  servlet:
    context-path: /

jwt:
  secret: this-is-a-very-secret-key-that-should-be-at-least-256-bits-long-for-hs256-algorithm
  expiration: 3600

logging:
  level:
    root: INFO
    com.oidc: DEBUG
